@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 240 10% 10%;
    --primary-foreground: 240 10 80%;

    --secondary: 240 8% 12%;
    --secondary-foreground: 240 3% 95%;

    --accent: 73 97 50%;
    --accent-foreground: 0 0 0%;

    --muted: 240 4% 20%;
    --muted-foreground: 240 4% 30%;

    --input: 240 16% 8%;
    --input-foreground: 240 5% 50%;

    --spacing: 1rem;

    --constrict-threshold: 1200px;
  }
}
