@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bottom: 215 20% 10%;
    --bottom-foreground: 215 6% 90%;

    --island: 215 10% 20%;
    --island-foreground: 215 3% 95%;

    --popover: 215 5% 60%;
    --popover-foreground: 215 0% 0%;

    --accent: 73 97 50%;
    --accent-foreground: 0 0 0%;

    --muted: 215 4% 20%;
    --muted-foreground: 215 4% 30%;

    --border: 215 4% 97%;

    --input: 215 15% 15%;
    --input-foreground: 215 5% 50%;

    --radius: 3px;
  }
}
